@font-face {
    font-family: 'Krona-One';
    src: url('fonts/kronaone-regular-webfont.ttf') format('truetype'),  
    url('fonts/kronaone-regular-webfont.woff') format('woff'), 
    url('fonts/kronaone-regular-webfont.woff2')  format('woff2'), 
    url('fonts/kronaone-regular-webfont.eot') format('embedded-opentype');
    
  }

@font-face{
    font-family: 'Abel';
    src: url('fonts/abel-regular-webfont.woff') format('woff'),
    url('fonts/abel-regular-webfont.woff2') format('woff2');
}
img {
    max-width: 100%;
}
#logoH{
    padding-top: 10rem;
    max-width: 20%;
    margin-left: 3rem;
}

.extLink{
    font-size: .75rem;
}
a:link {
    text-decoration: none;
    color: #423981;
  }

a:visited {
    color: #5547b6;
  }
a:hover {
    color: rgb(241, 73, 50);
    transition: color ease-in-out 300ms;
  }
a:active {
    color: #5547b6;
  }
a.current{
    text-decoration: overline;
    color: rgb(241, 73, 50);
}
body {
    background-image: url(picsForWeb/background.jpg);
    margin: 0;
}
h1,h2,h3, a{
    font-family: Krona-one, sans-serif;
}
a{
    font-size: .75rem;
}
#logo{
    max-height:2rem ;
}
.topMenu{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #aa8eff;
    height: 3rem;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap:.3rem;
}
.menuitem{
    padding: 1rem;
}
.heading{
    display: block;
    max-width: 50%;
    margin: .5rem auto .5rem;
    text-align: center;
}
.headingD{
    text-align: center;
}
.mePic{
    max-width: 60%;
}
h3.resume{
    font-size: 1rem;
}
h1{
    padding-top: 5rem;
}
h2{
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-size: 1rem;
}
h3{
    margin-top: 2rem;
    margin-bottom: .5rem;
}
li.resume{
    font-family: Abel, Geneva, Tahoma, sans-serif;
}
.resume{
    max-width: 80%;
}
h1.resume{
   
   font-size: 1.2rem;
   padding-top: .5rem; 
}
#homeName, #homeThing{
    color:#423981 ;
    text-align: center;
    width: 100%;
}
#homeName{
    padding-top: 10rem;
    font-size: 1rem;
}
#homeThing{
    font-size: .75rem;
    font-style: italic;
    padding-top: 3rem;
}
.resumeT{
    font-size: 1.2rem; 
    margin-left: 3rem; 
}
li.last{
    padding-bottom: 5rem;
}
h3.smaller{
    font-size: .75rem;
}
p{
    font-family: Abel, Geneva, Tahoma, sans-serif;
    max-width: 65%;
    text-align: center;
    margin-top: 0;
    margin-bottom: .5rem;
}
.headingD{
    max-width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.designContent{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

}
.item2, .item6{
    padding-bottom: 3rem;
}
.artContent{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

}
.designImage{
    max-width: 50%;
    padding-bottom: 3rem;
}
.artImage{
    max-width: 50%;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
#lastImg{
    padding-bottom: 8rem;
}
.aboutContent{
    display:flex;
    flex-flow: column nowrap;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.aboutP{
    text-align: left;
    max-width: 95%;
    padding-bottom: 5rem;
    padding-top: 3rem;
}
.mePic{
    align-self: center;
    max-width: 25%;
}
.resume{
    margin-left: 3rem;

}
footer{
     position:fixed;
     width:100%;
     bottom:0;
    display: flex;
    height: 3rem;
    background-color: #aa8eff;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

@media (min-width: 630px){
    a{
        font-size: 1.25rem;
    }
    h1{
        padding-top: 7rem;
    }
    .topMenu{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #aa8eff;
        height: 6rem;
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    

}
@media(min-width: 900px){
    #homeName, #homeThing{
        color:#423981 ;
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
    }
    #homeName{
        padding-top: 10rem;
        font-size: 2.5rem;
    }
    #homeThing{
        font-size: 2rem;
        font-style: italic;
        padding-top: 3rem;
    }
    .mePic{
        align-self:flex-start;
        max-width: 200px;
        padding-right: 7rem;
        padding-bottom: 4rem;

    }
    .aboutP{
        max-width: 60ch;
    }
    .titles{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .headingD{
        max-width: 100%;
        text-align: right;
        margin-left: 0;
        margin-right: 0;
    }
    .heading{
        display: block;
        max-width: 50%;
        margin: 0;
        padding-right: 7rem;
        }
    #artDescrip{
        max-width: 33%;
        text-align: right;
    }
    .artContent{
        max-width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 3rem;
        grid-column-gap: 2rem;
        margin-left: 3rem;
        
    
    }
    .artImage{
        max-width: 100%;
        align-self: start;
    }
    p{
        font-family: Abel, Geneva, Tahoma, sans-serif;
        max-width: 100%;
        text-align: left;
        margin-top: 0;
        margin-bottom: .5rem;
    }
    .designImage{
        max-width: 100%;
        
    }
    .designContent{
        max-width: 80%;
        margin:2rem 3rem;
        display:grid;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: auto auto auto auto auto;
        grid-row-gap: 3rem;
        grid-column-gap: 2rem;

    }
    .titlesD{
        grid-column-start: 3;
        text-align: right;
        justify-self: end;
    }

    .item1{
        align-self: start;
        grid-row-start: 2;
    }
    .item2{
        grid-column-start: 1;
        grid-row-start: 3;
        justify-self: end;
        align-self: start;
    }
    .item3{
        grid-column-start: 2;
        grid-row-start: 3;
        justify-self: end;
        align-self: start;
    }
    .item4{
        grid-column-start: 3;
        grid-row-start: 3;
        justify-self: end;
        align-self: start;
    }
    .item5{
        grid-column-start:1;
        grid-row-start: 4;
        align-self: start;
    }
    .item6{
        grid-column-start:1;
        grid-row-start: 5;
        justify-self: end;
        align-self: start; 
    }
    .item7{
        grid-column-start:2;
        grid-row-start: 5;
        justify-self: end;
        align-self: start;
    }
    .item8{
        grid-column-start:3;
        grid-row-start: 5;
        justify-self: end;
        align-self: start;
    }

}

@media(min-width: 1100px){
    .heading{
        display: block;
        max-width: 50%;
        margin: 0;
        padding-right: 7rem;
        
    }
    
}